<div>
    <a [routerLink]="['./tambah']" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Create Data</a>
    <table class="table">
      <tr>
        <td><h2>Kode Toko</h2></td>
        <td><h2>Nama Toko</h2></td>
        <td><h2>Alamat Toko</h2></td>
        <td><h2>Nama Kota</h2></td>
        <td><h2>Nama Propinsi</h2></td>
        <td><h2>Aksi</h2></td>
      </tr>
      <tr *ngFor="let item of dataToko">
        <td>{{item.kdToko}}</td>
        <td>{{item.NamaToko}}</td>
        <td>{{item.AlamatToko}}</td>
        <td>{{item.NamaKota}}</td>
        <td>{{item.NamaProvinsi}}</td>
        <td>
            <a [routerLink]="['./detail/'+item._id]" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></a>
            <a [routerLink]="['./update/'+item._id]" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-danger" (click)="tokoDelete(item._id)"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
      </tr>
    </table>
  </div>
  