<form action="" class="form-horizontal">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Kode Provinsi</label>
        <div class="col-sm-7">
            <input type="text" name="kdProvinsi" class="form-control" value="{{dataDetail.kdProvinsi}}" id="inputEmail3">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Nama Propinsi</label>
        <div class="col-sm-7">
            <input type="text" name="NamaProvinsi" class="form-control" value="{{dataDetail.NamaProvinsi}}" id="inputEmail3">
        </div>
    </div>
</form>