<form action="" class="form-horizontal">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Kode Obat</label>
        <div class="col-sm-7">
            <input type="text" name="kdIndukObat" class="form-control" value="{{dataDetail.kdIndukObat}}" id="inputEmail3">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Nama Obat</label>
        <div class="col-sm-7">
            <input type="text" name="NamaIndukObat" class="form-control" value="{{dataDetail.NamaIndukObat}}" id="inputEmail3">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Kategori Obat</label>
        <div class="col-sm-7">
            <input type="text" name="Kategori" class="form-control" value="{{dataDetail.KategoriObat}}" id="inputEmail3">
        </div>
    </div>
</form>