<form class="form-horizontal">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Kode Akses</label>
        <div class="col-sm-7">
            <input type="text" name="kdProvinsi" class="form-control" [(ngModel)]="dataEdit.kdAkses" id="inputEmail3">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Nama Akses</label>
        <div class="col-sm-7">
            <input type="text" name="NamaAkses" class="form-control" [(ngModel)]="dataEdit.NamaAkses">
        </div>
    </div>
    <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Keterangan</label>
            <div class="col-sm-7">
                <input type="text" name="Keterangan" class="form-control" [(ngModel)]="dataEdit.Keterangan">
            </div>
        </div>
    <button (click)="simpanAksesToko(dataEdit._id)">Simpan</button>
</form>