<form class="form-horizontal">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Kode Petugas</label>
        <div class="col-sm-7">
            <input type="text" name="kdPetugas" class="form-control" [(ngModel)]="dataEdit.kdPetugas" id="inputEmail3">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Nama Petugas</label>
        <div class="col-sm-7">
            <input type="text" name="NamaPetugas" class="form-control" [(ngModel)]="dataEdit.NamaPetugas">
        </div>
    </div>
	<div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Alamat Petugas</label>
        <div class="col-sm-7">
            <input type="text" name="AlamatPetugas" class="form-control" [(ngModel)]="dataEdit.AlamatPetugas">
        </div>
    </div>
	<div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Nama Kota</label>
        <div class="col-sm-7">
            <input type="text" name="NamaKota" class="form-control" [(ngModel)]="dataEdit.NamaKota">
        </div>
    </div>
	<div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Nama Provinsi</label>
        <div class="col-sm-7">
            <input type="text" name="NamaProvinsi" class="form-control" [(ngModel)]="dataEdit.NamaProvinsi">
        </div>
    </div>
    <button (click)="simpanPetugas(dataEdit._id)">Simpan</button>
</form>