<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
              <span class="input-group-btn">
                  
                </span>
          </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li>
            <a routerLink="/login">
                <i class='glyphicon glyphicon-user'></i> <span> Login</span>
                <span class="pull-right-container">
                </span>
            </a>
        </li>
		<!-- <li> -->
            <!-- <a routerLink="/toko"> -->
                <!-- <i class='glyphicon glyphicon-list'></i> <span> Toko</span> -->
                <!-- <span class="pull-right-container"> -->
                <!-- </span> -->
            <!-- </a> -->
        <!-- </li> -->
        <li>
            <a routerLink="/petugas">
                <i class='glyphicon glyphicon-list'></i> <span> Petugas</span>
                <span class="pull-right-container">
                </span>
            </a>
        </li>
        <!-- <li> -->
            <!-- <a routerLink="/aksestoko"> -->
                <!-- <i class='glyphicon glyphicon-list'></i> <span> Akses Toko</span> -->
                <!-- <span class="pull-right-container"> -->
                <!-- </span> -->
            <!-- </a> -->
        <!-- </li> -->
        <!-- <li> -->
            <!-- <a routerLink="/propinsi"> -->
                <!-- <i class='glyphicon glyphicon-list'></i> <span> Propinsi</span> -->
                <!-- <span class="pull-right-container"> -->
                <!-- </span> -->
            <!-- </a> -->
        <!-- </li> -->
        <!-- <li> -->
            <!-- <a routerLink="/obat"> -->
                <!-- <i class='glyphicon glyphicon-list'></i> <span> Obat</span> -->
                <!-- <span class="pull-right-container"> -->
                <!-- </span> -->
            <!-- </a> -->
        <!-- </li> -->
        <!-- <li> -->
            <!-- <a routerLink="/statuspembayaran"> -->
                <!-- <i class='glyphicon glyphicon-list'></i> <span> Status Pembayaran</span> -->
                <!-- <span class="pull-right-container"> -->
                <!-- </span> -->
            <!-- </a> -->
        <!-- </li> -->
		<!-- <li> -->
            <!-- <a routerLink="/tipepembayaran"> -->
                <!-- <i class='glyphicon glyphicon-list'></i> <span> Tipe Pembayaran</span> -->
                <!-- <span class="pull-right-container"> -->
                <!-- </span> -->
            <!-- </a> -->
        <!-- </li> -->
		<!-- <li> -->
            <!-- <a routerLink="/statuspenjualan"> -->
                <!-- <i class='glyphicon glyphicon-list'></i> <span> Status Penjualan</span> -->
                <!-- <span class="pull-right-container"> -->
                <!-- </span> -->
            <!-- </a> -->
        <!-- </li> -->
		  <li>
            <a routerLink="/logout">
                <i class='glyphicon glyphicon-user'></i> <span> Logout</span>
                <span class="pull-right-container">
                </span>
            </a>
        </li>
      </ul>
  </section>
  <!-- /.sidebar -->
</aside>